
#header-admin {
    display: flex;
    height: 50px;
    background-color: #66c2ff;
    position: relative;
    min-width: 900px;
}
#header-admin .home-admin {
    display: block;
    position: absolute;
    top: 10px;
}
#header-admin .home-admin a {
    text-decoration: none;
    color:#842b2b;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
#header-admin .home-admin a:hover {
    color:white;
}
#header-admin .account {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
}
#header-admin .account a {
    text-decoration: none;
    color:#842b2b;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
#header-admin .account a:hover {
    color: white;
}

.container #menu {
    display: flex;
    border: 1px solid;
    background-color: aquamarine;
    border-radius: 10px;
    min-width: 900px;
}
.container #menu .item {
    /* padding: 10px 20px 10px 20px; */
    background-color: #eddc1d;
    margin: 5px;
    border-radius: 20px;
}
.container #menu .item a {
    border-radius: 20px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.container #menu .item :hover{
    background-color:rgb(203, 22, 22);;
    color: white;
    transition: 0.40s ease-in-out;
}
#table-1 {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#table-1 .table {
    border: 1px solid;
    margin-top: 10px;
    min-width: 900px;
}
#table-1 .add-product {
    font-size: 20px;
    text-decoration: none;
    background-color: #ac27d1;
    color: aliceblue;
    padding: 10px 20px 10px 20px;
    /* margin-top: 10px; */
    border-radius: 10px;
    display: block;
}
#table-1 .add-product:hover {
    background-color: #eddc1d;
    color: black;
}
#table-1 .table .table-content .image {
    width: 150px;
    height: auto;
}
#table-1 .table .table-content{
    height: 70px;
}
#index-admin {
    position: relative;
    width: 100%;
    padding-top: 40%;
    background: url('https://i.pinimg.com/736x/2f/60/6a/2f606ad14bf9171e5f41b42a01b4441f.jpg') top center/ cover no-repeat;
}
#index-admin .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}