.navbar_a {
    flex: auto;
    margin: 10px;
}
.red {
    color: red;
}
.a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.dang_nhap {
    float: right;
}
.div_header {
    background-color: #66c2ff; 
    padding: 0px 20px 0px 20px;
    height: 55px;
    min-width: 670px;
}
.img_container {
    display: block;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}
.img_container img {
    max-width: 100%;
    height: auto;
    position: absolute;
}
.ten_san_pham {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.buttom_mua {
    /* float: right; */
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
    height: auto;  
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.product {
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* border: 1px solid; */
    list-style: none;
    max-height: 435px;
    overflow: auto;
    min-width: 1060px;
    border-radius: 20px;
    background-color: #545a67;
}
.product_item {
    /* border: 0.5px solid; */
    padding: 10px;
    border-radius: 10px;
    /* background-color: #b7e9b1; */
    background-color: #eaedef;
}
.product li {
    width: 250px;
    display: block;
    padding-right:15px;
    padding-left: 15px;
    flex-basis: 20%;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.product li img {
    max-width: 80%;
    height: auto;
}
/* .product_thumb {
    width: 100px;
    height: 100px;
} */
.product li .product_info a{
    display: block;
    text-decoration: none;
    padding-left: 5px;
}

.product li .product_info{
    padding: 10px 0px 0px 0px;
}
.product li .product_top a.buy_now{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: #66c2ff;
    padding: 10px 0px;
    position: absolute;
    width: 100%;
    bottom: -36px;
    transition: 0.25s ease-in-out;
    opacity: 0.5;
}

.product li .product_top .product_thumb img {
    /* max-width: 100%;
    height: auto;
    position: absolute; */
    display: block;
}
.product li .product_top .product_thumb{
    display: block;
    height: 100px;
}
.product li .product_top{
    max-width: 100%;
    position: relative;
    overflow: hidden;
}
.product li:hover a.buy_now{
    bottom: 0px;
}
.product li:hover .product_top .product_thumb img {
    filter: opacity(80%);
}
.product .product_info a.product_name {
    font-size: 16px;
    color: red;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .container-info {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    /* border: 1px solid; */
    border-radius: 20px;
    background-color: antiquewhite;
    position: relative;
    flex-wrap: wrap;
    min-width: 700px;
    width: 960px;
}
.container .container-info .image-info {
    width: 100%;
    height: auto;

    /* border: 1px solid; */
}
.container .container-info .info .btn-buy {
    background-color: #ba2e12;
    color: beige;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 100%; */
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.container .container-info .info .btn-buy:hover {
    background-color: #f4b342;
}
.container .container-info .info {
    width: 70%;
    display: block;
    padding-left: 10px;
    margin-left: 40px;
    background-color: #d692e0;
    border-radius: 20px;
}
.container .container-info .info .product-name{
    color: #60ff62;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
}
.container .container-info .info .product-price{
    color: #ba2e12;
    font-size: 26px;
    font-weight: bold;
    padding: 10px;
}
.container .container-info .info .radio-box {
    display: flex;
    margin-top: 10px;
}
#slider {
    position: relative;
    /* margin-top: 40px; */
    width: 100%;
    min-width: 1060px ;
    padding-top: 500px;
    background: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148698592.jpg') top center/ cover no-repeat;
}
#slider .text-content {
    position: absolute;
    bottom: 10px;
    color: white;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}
#forgot-password{
    margin-top: 46px;
    text-align: center;
    padding-top: 50%;
    position: relative;
}
#forgot-password .form-forgot-password {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 50%;
} 
#forgot-password .form-forgot-password input {
    width: 500px;
    display: inline-block;
}
#cart .table{
    border: 1px solid;
}
#cart .table .table-title {

}
#show-all{
    /* border: 1px solid;
    padding-bottom: 70%; */
    /* background-color: #79838a; */
}
#show-all .product-2 {
    display: flex;
    background-color: #79838a;
}
#show-all .product-2 li {
    list-style-type: none;
    width: 250px;
    position: relative;
}
#show-all .filter .filter-item {
    display: flex;
}
#show-all .filter .filter-item a.high-light-link-1 {
    text-decoration: none;
    background-color: #f4b342;
    padding: 10px;
    margin: 5px;
}
#show-all .filter .filter-item a.selected {
    background-color: #7b117a;
}
/* css cho thẻ sắp xếp */
#show-all .filter .sort{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 900px;
}
#show-all .filter .sort .search {
    display: block;
    position: absolute;
    top: 125px ;
}
#show-all .filter .sort .search .search-input {
    height: 43px;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
}
#show-all .filter .sort .search .search-btn {
    height: 43px;
    padding: 10px;
    border-radius: 10px;
}
#show-all .filter .sort .search .search-btn:hover {
    background-color: #0a62e6;
    color: #ffffff;
    transition: 0.40s ease-in-out;
}
#show-all .filter .sort .sort-item {
    background-color: aqua;
    padding: 10px;
    margin: 5px;
    text-decoration:none;
    display: block;
}
#show-all .filter .sort a.selected-sort {
    background-color: #7c1fba;
}
.product::-webkit-scrollbar{
    display: none;
}
.pagnination {
    display: inline-block;
}
.pagnination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;   
}
.pagnination a:hover {
    background-color: #ddd;
}
/* #show-all .product-2 .product-item {
    display: block;
    border: 1px solid;
    padding: 10px;
    width: 100%;
    min-height: 260px;
}
#show-all .product-2 .product-item .product-info {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
}
#show-all .product-2 .product-item .product-top .button-buy {
    font-size: 20px;
    text-decoration: none;
}
#show-all .product-item .product-top .product-img .image {
    width: 100%;
    height: auto;
} */
/* tính năng xem thêm */
.show-text-read-more{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    background-color: wheat;
    width: 400px;
    max-width: 80%;
}
.show-text-read-more.active {
    transform: translate(-50%, -50%) scale(1);
}
.show-text-read-more .show-header {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}
.show-text-read-more .show-header .header-title {
    font-size: 18px;
    font-weight: bold;
}
.show-text-read-more .show-header .close-read-more {
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-weight: bold;
}
.show-text-read-more .show-body {
    padding: 10px 15px;
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6f7177;
    opacity: 0;
    pointer-events: none;
}
#overlay .active {
    pointer-events: all;
    opacity: 0.5;
}

.so-luong::-webkit-inner-spin-button,
.so-luong::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn-decrease-quantity {
    font-size: 40px;
    border: 1px solid;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.btn-decrease-quantity:hover {
    background-color: #0a62e6;
    color: #ffffff;
    transition: 0.40s ease-in-out;
}
.btn-increase-quantity {
    font-size: 28px;
    border: 1px solid;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}
.btn-increase-quantity:hover {
    background-color: #0a62e6;
    color: #ffffff;
    transition: 0.40s ease-in-out;
}
/* css dropdown menu */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/*  */
/* css cho trang nhập mã otp xác nhận password */
#verify-otp {
    margin-top: 46px;
    text-align: center;
}
#verify-otp input {
    display: inline-block;
    width: 40%;
}
/*  */