/* xay dựng header */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2f2f2;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    min-width: 950px;
}
#header{
    height: 46px;
    background-color: #000;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    /* min-width: 950px */
}
#nav {
    display: inline-block;
}
#nav > li {
    display: inline-block;
}
#nav ,.subnav {
    list-style-type: none;
}
#nav li {
    position: relative;
}
#nav > li > a {
    /* color: azure; */
    color: #13e2e2;
    text-transform: uppercase;
}
#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px 0px 24px;
}
#nav li:hover .subnav {
    display: block;
}
#nav >li:hover >a {
    color: rgb(47, 48, 43);
    background-color: rgb(221, 211, 176);
}
#nav .subnav {
    display: none;
    position:absolute;
    background-color: aliceblue;
    padding-left: 0px;
    top: 100%;
    left: 0;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
#nav .subnav a {
    color: #000;
    padding: 0px 10px;
    line-height: 36px;
}
#nav .subnav li:hover a{
    background-color: rgb(221, 211, 176);
}
#slider2 {
    margin-top: 46px;
    background: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00NTItZi0wMTQuanBn.jpg') top center/ cover no-repeat;;
    min-height: 300px;
}
#header .mobile-menu {
    display: none;
}
#header .search-btn {
    float: right;
    position: relative;
}
#header .mobile-menu .icon-mobile-menu ,
#header .search-btn .icon-search {
    color: white; 
    line-height: 46px; 
    padding: 0 24px; 
    cursor: pointer;
    /* display: none; */
}
#header .search-btn .search-input {
    display: none;
    padding: 10px;
    background-color: antiquewhite;
    position: absolute;
    top: 100%;
    left: -165px;
    /* transition: 1ms ease-in-out; */
    z-index: 1;
}
#header .search-btn .search-input input {
    padding: 8px;
}
.search-btn .search-input .search-result {
    display: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    top: 100%;
    left: -35%;
    width: 300px;
    background-color: beige;
    overflow: auto;
    height: auto;
    max-height: 500px;
    z-index: 1;
}
.search-input .search-result #url-search {
    /* display:flex;  */
    text-decoration: none
}
.search-input .search-result #url-search .info-result {
    display:inline-block;
}
.search-result #url-search .info-result .name-result {
    text-transform: uppercase; 
    color: black;
    font-weight: 700;
}
.search-result #url-search .info-result .price-result {
    color: red
}
.search-btn .search-input .search-result img {
    padding: 5px;
    width: 70px;
    height: auto;
    margin-right: 5px;
}

#header .mobile-menu:hover,
#header .search-btn:hover {
    background-color: #f44336;
}
#header .account-btn {
    float: right;
    position: relative;
    margin-right: 20px;
}
#header .account-btn .account-nav {
    display: none;
    background-color: aquamarine;
    padding: 1px 4px 1px 4px;
    list-style-type: none;
    position: absolute;
    min-width: 125px;
    left: -70px;
    top: 100%;
    z-index: 1;
}
#header .account-btn .account-nav li {
    padding: 5px;
}
#header .account-btn .account-nav li a {
    text-decoration: none;
    text-transform: uppercase;
}
#header >.account-btn:hover {
    background-color: #f44336;
}
#header .account-btn:hover .account-nav {
    display: block;
}
.account-btn .account-nav li a {
    display: block;
    padding: 5px 10px 5px 10px;
}
.account-btn .account-nav li:hover a {
    background-color: #000;
}
/*  */
/* css hiển thị danh sách sản phẩm */
#product-content-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    /* margin-left: 200px; */
    /* margin-right: 50px; */
    float: right;
}
#product-content-list li {
    width: calc(20% - 12px);
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin: 6px;
    /* position: relative; */
    height: auto;
}
#product-content-list li .product-img{
    padding: 5px;
    width: 100%;
}
#product-content-list li .product-img img {
    max-width: 100%;
    height: auto;
}
#product-content-list li .product-info .product-name a{
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    cursor: pointer; 
}
#product-content-list li .product-info .product-category {
    color: #f44336;
    text-decoration: none;
    text-transform: uppercase;
}
#product-content-list li .product-info .product-price {
    display: block;
    color: #413c3c;
    font-size: 16px;
    text-decoration: none;
    font-weight: 800;
}
/*  */
/* css thông tin sản phẩm */
#product-detail {
    /* margin-left: 115px; */
    margin-top: 46px;
    height:390px ;
    background-color: #ffffff;
    padding-top: 20px;
    min-width: 984px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#product-detail .product-image{
    display: block;
    width:40% ;
    margin-left: 10px;
}
#product-detail .product-image img {
    width: 360px;
    height: auto;
}
#product-detail .product-info {
    float: right;
    width: 60%;
}
#product-detail .product-info h1 {
    /* display: inline-block; */
    text-transform: uppercase;
    font-size: 28px;
}
#product-detail .product-info i p {
    background-color: #f6ec29;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
} 
#product-detail .product-info .service {
    display: inline-block;
}
#product-detail .product-info .service a {
    text-decoration: none;
    text-transform: uppercase;
    color:gray;
    padding: 5px 10px 5px 10px;
}  
#product-detail .product-info .service p {
    color:rgb(220, 22, 22);
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    font-size: 20px;
}
#product-detail .product-info .order-btn {
    padding: 10px 20px 10px 20px;
    width: 160px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
}
#product-detail .product-info .order-btn:hover {
    background-color: rgb(20, 143, 224);
    transition: 0.40s ease-in-out;
}
/*  */
/* sidebar */
#sidebar {
    background-color: #ffffff;
    height: 100px;
    margin-bottom: 20px;
}
#sidebar a {
    text-decoration: none;
}
#sidebar a span {
    font-size: 50px;
    line-height: 100px;
    color: black;
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;
}
#sidebar h1 a {
    padding: 10px;color: black;
}
#sidebar h1:hover a {
    color: white;
}
/*  */
/* hiển thị tất cả sản phẩm */
.all-products {
    margin-top: 50px;
}
.all-products h1 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.all-products .products-filter {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    border-bottom: 1px gray groove;
}
.all-products .products-filter .filter-categories {
    margin: 10px 0px 20px 0px;
    display: block;
}
.all-products .products-filter .products-sort {
    margin: 30px 0px 10px 0px;
    display: inline-block;
}
.all-products .products-filter a{
    text-decoration: none;
    font-size: 15px;
    background-color: #cc37ef;
    color: white;
    padding: 10px 24px 10px 24px;
    margin: 0px 10px;
    text-transform: uppercase;
}
.all-products .products-filter h2{
    float: right;
    margin-top: 35px;
    font-size: 24px;
    margin-right: 80px;
}
.all-products .products-filter .filter-categories a:hover {
    color: #f6ec29;
    background-color: aqua;
}
.all-products .products-filter .products-sort a:hover {
    color: #f6ec29;
    background-color: aqua;
}
/* css cho slider */
#demo .carousel-inner img {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 50%;
    /* height: 200px; */
}
/*  */
/* .product-comment {
    margin-top: 20px;
} */
/* .product-comment .user-comment {
    border: 1px solid;
    padding: 10px;
} */
/* .product-comment .user-comment textarea {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
} */
/* .product-comment .user-comment a {
    display: inline-block;
    margin: 5px 50px 0px 0px;
    background-color: #578ffa;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
} */
/* .product-comment .user-comment span {
    font-size: 35px;
    margin-left: 10px;
    margin-top: 10px;
} */
/*  */
/* hiển thị đánh giá */
.user-comments {
    border-top: 1px solid;
}
.user-comments .comment-content {
    margin-top: 20px;
}
.user-comments .comment-content .avatar-user {
    display: table-cell;
    padding: 5px;
    width: 8%;
}
.user-comments .comment-content .avatar-user img {
    width: 100%;
    height: auto;
}
.user-comments .comment-content .comment-text {
    display: table-cell;
}
.comment-content .comment-text .user-name {
    font-weight: 700;
}
.comment-content .comment-text .text {
    display: inline-block;
}
.comment-content .comment-text span {
    float: right;
    color: gray;
}
/*  */
/*  */
/* css cho mobile */
@media only screen and (max-width: 599px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-family: Arial, Helvetica, sans-serif;
        min-width: 412px;
        overflow: auto;
    }
    body {
        /* background-color: #413c3c; */
    }
    #header {
        min-width: 412px;
    }
    /* header mobile*/
    #header {
        height: 46px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        /* min-width: 950px; */
        overflow: hidden;
    }
    #nav {
        display:block;
    }
    #nav > li {
        display: block;
    }
    #header .search-btn {
        display: none;
    }
    #header .account-btn {
        display: none;
    }
    #header .mobile-menu {
        display: block;
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }
    /*  */
    /* index mobile */
    #product-content-list{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    #product-content-list li {
        width: calc(50% - 12px);
    }
    /*  */
   /* css cho mobile chi tiết sản phẩm */
   #product-detail {
    margin-left: 8px;
    min-width: 412px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    }
    #product-detail .product-info {
        float: right;
        width: 100%;
    }
    #product-detail .product-image {
        display: block;
        width: 100%;
    }
   /*  */
}
/*  */
/* css cho tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    html {
        font-family: Arial, Helvetica, sans-serif;
        min-width: 600px;
    }
    body {
        /* background-color: #962929; */
    }
    #header {
        min-width: 600px;
    }
   /* css cho tablet chi tiết sản phẩm */
   #product-detail {
    /* margin-left: 49px; */
    min-width: 600px;
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    }
    #product-detail .product-info {
        float: right;
        width: 100%;
    }
    #product-detail .product-image {
        display: block;
        width: 100%;
        text-align: center;
    }
    #product-detail .product-info .btn {
        display: block;
        text-align: center;
    }
   /*  */
   /* css trang index tablet */
   #product-content-list li {
    width: calc(30% - 12px);
   }
   /*  */
}
/*  */